install
text
skipx
url --url=http://mirror.bytemark.co.uk/centos/7/os/x86_64/
lang en_GB.UTF-8
keyboard uk
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw changeme
firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512 --enablefingerprint
selinux --enforcing
timezone --utc Europe/London

repo --name="CentOS" --baseurl=http://mirror.bytemark.co.uk/centos/7/os/x86_64/ --cost=100
repo --name="EPEL" --baseurl=http://mirror.bytemark.co.uk/fedora/epel/7/x86_64/ --cost=100

zerombr
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet"
clearpart --all --initlabel
part / --fstype xfs --size=1 --grow

firstboot --disabled
reboot

%packages --excludedocs
@Core
-*-firmware
-b43-fwcutter
-b43-openfwwf
-perl
-perl-Module-Pluggable
-perl-Pod-Escapes
-perl-Pod-Simple
-perl-libs
-perl-version
-vim-enhanced
-abrt
-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-addon-python
-abrt-cli
-abrt-libs
-abrt-tui
-libreport
-libreport-cli
-libreport-compat
-libreport-plugin-kerneloops
-libreport-plugin-logger
-libreport-plugin-mailx
-libreport-plugin-reportuploader
-libreport-plugin-rhtsupport
-libreport-python
-cups-libs
-fprintd
-fprintd-pam
-gtk2
-libfprint
-mysql-libs
-cronie
-cronie-anacron
-crontabs
-postfix
-sysstat
-alsa-lib
-alsa-utils
-man
-man-pages
-man-pages-overrides
-yum-utils
-system-config-firewall-base
-system-config-firewall-tui
-system-config-network-tui
-systemtap-runtime
-at
-atk
-avahi-libs
-bc
-bind-libs
-bind-utils
-biosdevname
-blktrace
-busybox
-cairo
-centos-indexhtml
-ConsoleKit
-ConsoleKit-libs
-cpuspeed
-crda
-cyrus-sasl-plain
-dbus
-dbus-python
-desktop-file-utils
-dmidecode
-dmraid
-dmraid-events
-dosfstools
-ed
-eggdbus
-eject
-elfutils-libs
-fontconfig
-freetype
-gnutls
-hal
-hal-info
-hal-libs
-hdparm
-hicolor-icon-theme
-hunspell
-hunspell-en
-irqbalance
-iw
-jasper-libs
-kexec-tools
-ledmon
-libjpeg-turbo
-libnl
-libpcap
-libpng
-libtasn1
-libthai
-libtiff
-libusb1
-libX11
-libX11-common
-libXau
-libxcb
-libXcomposite
-libXcursor
-libXdamage
-libXext
-libXfixes
-libXft
-libXi
-libXinerama
-libxml2-python
-libXrandr
-libXrender
-lsof
-mailx
-microcode_ctl
-mlocate
-mtr
-nano
-ntp
-ntpdate
-ntsysv
-numactl
-pam_passwdqc
-pango
-parted
-pciutils
-pcmciautils
-pinfo
-pixman
-pkgconfig
-pm-utils
-polkit
-prelink
-psacct
-python-ethtool
-python-iwlib
-quota
-rdate
-readahead
-rfkill
-rng-tools
-rsync
-scl-utils
-setserial
-setuptool
-sg3_utils-libs
-sgpio
-smartmontools
-sos
-strace
-tcpdump
-tcp_wrappers
-tcsh
-time
-tmpwatch
-traceroute
-unzip
-usbutils
-usermode
-vconfig
-wget
-wireless-tools
-words
-xdg-utils
-xz
-xz-lzma-compat
-yum-plugin-security
-yum-utils
-zip
vim-minimal
grub2-tools
haveged

%end

%post --log=/root/post.log --nochroot
#handle the cloud-init stuff
echo 'disable_root: 0' > /etc/cloud/cloud.cfg.d/01_centos.cfg
echo 'user: root' >> /etc/cloud/cloud.cfg.d/01_centos.cfg

rm -f /mnt/sysimage/root/*
%end

%post
/usr/bin/yum -y install sudo
/usr/sbin/groupadd packer
/usr/sbin/useradd packer -g packer -G wheel
echo "packer"|passwd --stdin packer
echo "packer        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/packer
chmod 0440 /etc/sudoers.d/packer
%end
